# Ignore node_modules directory
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Dependency directories
/dist
/build

# Optional npm cache directory
.npm

# dotenv environment variables file
.env

# TypeScript cache
.tsbuildinfo

# IDE settings (for example, IntelliJ or VSCode)
.idea/
.vscode/

# Docker files
docker-compose.override.yml
docker-compose.override.*