# Ignore node_modules directory
node_modules/
data/

# Logs
logs
*.log
npm-debug.log*

# Dependency directories
backend/dist
/build

# Optional npm cache directory
.npm

# dotenv environment variables file
backend/.env

# TypeScript cache
.tsbuildinfo

# IDE settings (for example, IntelliJ or VSCode)
.idea/
.vscode/

# Docker files
docker-compose.override.yml
docker-compose.override.*