html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background-image: url('@/assets/images/pattern.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}